html, body{
    overflow-x:  hidden;
    height: 140%;
}



.thanks{
    color: #FFF724;
    margin-left: 25%;
    font-size: 25px;
}


table .text{
    text-align: left;
    text-decoration: none;
    width: 80%;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 40%;
}
.text{
    text-align: left;
}

.mariooo{
    width: 25%;
    margin-left: 70%;
    margin-top: -20%;
}


@media only screen and (max-width:1230px){
    .thanks{
        display: none;
    }

    table .text{
        text-align: left;
        text-decoration: none;
        width: 80%;
        font-size: 20px;
        margin-top: 5%;
        margin-left: 30%;
    }
    .mariooo{
        width: 25%;
        margin-left: 70%;
        margin-top: 5%;
    }
}

@media only screen and (max-width:864px){
    .thanks{
        display: none;
    }

    table .text{
        text-align: left;
        text-decoration: none;
        width: 80%;
        font-size: 15px;
        margin-top: 5%;
        margin-left: 5%;
    }
    .mariooo{
        width: 50%;
        margin-left: 50%;
        margin-top: 5%;
    }
}