.logo_footer{
    
    margin-top: 2%;
    width: 12%;
    cursor: pointer;
    float: left;
}

.marioText{
    margin-top: 5%;
    font-size: 150%;
    padding-left: 5%;
    padding-top: 5%;
    float: left;
}

.grid-container {
    width: 70%;
    margin-top: 15%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    display: grid;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
.text{
    text-decoration: underline;
    font-size: 70%;
    text-align: center;
    margin-left: 25%;
    margin-top: -15%;
}