

.logo_footer{
    
    margin-top: 2%;
    width: 12%;
    cursor: pointer;
    float: left;
}

.marioText{
    margin-top: 5%;
    font-size: 150%;
    padding-left: 5%;
    padding-top: 5%;
    float: left;
}

.buttons{

    margin-top: 15%;
    margin-left: 10%;
}
.research{
   margin-left: 10%;  
   width: 3.5%;
}
.researchText, .githubText{
    margin-left: 14%;
    margin-top: -2.8%;
    font-size: 140%;
    text-decoration: none;
}

.facebook{
    margin-left: 37%;
    margin-top: -25%;
    padding: 0;
    width: 3.5%;
    

}
.facebookText, .instagramText{
    margin-left: 42%;
    margin-top: -2.8%;
    font-size: 140%;
    text-decoration: none;
}

.whatsapp{
    margin-left: 60%;
    margin-top: -25%;
    padding: 0;
    width: 3.5%;
}

.whatsappText, .twitterText{
    margin-left: 65%;
    font-size: 150%;
    margin-top: -2.8%;
    text-decoration: none;
}
.github{
    margin-top:  6%;
    margin-left: 10%;
    width: 3.5%;
}

.instagram{
    width: 3.5%;
    margin-left: 37%;
    margin-top: -3.7%;
}


.twitter{
    width: 3.5%;
    margin-left: 60%;
    margin-top: -25%;
}

.machine-learning{
    margin: -20% 85% 1%;
}

.machine-learningText{
    margin-top: -10px;
    margin-left: 85%;
}

.finalText{
    padding-left: 10%;
    margin-top: 5%;
    font-size: 150%;
    color: #fff724;
}

@media only screen and (max-width:1342px){
    

}