*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    background: #020412;
    color: #fff;
}

.header{
    padding: 0 8.5%; /* First one is for height*/   
}

.logo{
    width: 250px;
    cursor: pointer;
}

.logo_phone{
    width: 250px;
    cursor: pointer;
    display: none;
}

.mario_bros{
    width: 10%;
    cursor: pointer;
}

.mario_brosPhone{
    display: none;
}

nav{
    display: flex;
    width: 105%;
    align-items: center;
    flex-wrap: wrap; /*This means to wrap the object*/
}

 nav ul{
    flex: 1;
    text-align: right;
    padding: 40px;
}
 
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}

@media only screen and (max-width:1342px){
    nav ul{
        display: none;
    }
    .logo, .mario_bros{
        display: none;
    }
    .logo_phone{
        display: block;
        width: 30%;
        margin-top: 6%;
    }
    .mario_brosPhone{
        display: block;
        cursor: pointer;
        margin-left: 75%;
        margin-top: -28%;
        width: 35%;
        
    }
}